@if (oneStudent) {
    <div  class="container d-flex justify-content-center">
        <div class="card d-flex  flex-column" style="width:100%; height: 80vh;">
            <div class="text-center">
                <img src="./../../../..//public/images/pin{{oneStudent.id}}.png" class="card-img-top text-center" alt="image" style="height: 200px; width: 300px;" >
            </div>
            <div class="card-body">
              <h5 class="card-title fs-1">Name:  {{oneStudent.name}}</h5>
              <p class="card-text">CITY:{{oneStudent.address.city}}<br>
                    street {{oneStudent.address.street}} , suite {{oneStudent.address.suite}} , zipcode {{oneStudent.address.zipcode}}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Email: {{oneStudent.email}}</li>
              <li class="list-group-item">username: {{oneStudent.username}}</li>
              <li class="list-group-item"> phone : {{oneStudent.phone}}</li>
              <li class="list-group-item">company : {{oneStudent.company.name}}</li>
            </ul>
            <div class=" m-5 d-flex justfid-flex justify-content-around ">
              <a href="#" class="btn btn-outline-success">update</a>
              <a href="#" class="btn btn-outline-danger ">Delete</a>
            </div>
          </div>
    </div>
}@else {
    <p class="alert alert-warning fs-1">
        Loading ...............
    </p>
}